
<h1>
    <span style="color:white;">ライブ支援ツール</span>
</h1>

<div class="pw-form">
    <h1>ログインはこちら</h1>
    <form class="pw-form-container" name="form1" method="post" action="login.php">
        <p>ユーザー名：<input type="text" name="username" placeholder="Username"></p>
        <P>パスワード：<input type="Password" name="password" placeholder="Password">
            <span class="field-icon">
                <i toggle="#password-field" class="zmdi zmdi-eye-off toggle-password"></i>
            </span>
        </P>
        <p><input type="submit" value="submit"></p>
    </form>
</div>