<div class="pw-form">
    <h1>パスワード変更はこちら</h1>
    <form class="pw-form-container" name="form1" method="post" action="reset.php">
        <p>ユーザー名：<input type="text" name="username" placeholder="Username"></p>
        <P>パスワード：<input type="Password" name="password" placeholder="Password">
            <span class="field-icon">
                <i toggle="#password-field" class="zmdi zmdi-eye-off toggle-password"></i>
            </span>
        </P>
        <p><input type="submit" value="SIGN UP"></p>
        <p>※パスワードは半角英数字をそれぞれ１文字以上含んだ、８文字以上で設定してください。</p>
    </form>
</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>